* {
	margin: 0;
	padding: 0;
}


.container {
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	font-family: 'roboto' ,sans-serif;
}
a {
	text-decoration: none;
}
						/*Top section start here*/
.top-menu {
	height: 80px;
	width: 100%;
	background-color: white;
}
.top-logo {
	height: 100%;
	width: 30%;
	float: left;
}
.top-logo img {
	margin-top: 20px;
}
.top-mainmenu {
	float: left;
	height: 100%;
	width: 70%;
}
.top-mainmenu ul {
	float: left;
	padding-left: 198px;
	padding-top: 15px;
}
.top-mainmenu ul li {
	display: inline-block;
}
.top-mainmenu ul li a {
	text-decoration: none;
	color: #2d2d2d;
	text-transform: uppercase;
	float: right;
	padding: 20px;
	font-weight: bold;
	font-size: 12px;
}
.top-mainmenu a i {
	padding: 8px;
	color: black;
	font-size: 18px;
	border: 1px solid #8f8f8f;
	color: #8f8f8f;
	border-radius: 500%;
	margin-top: 25px;
	margin-left: 16px;
}
.top-mainmenu a i:hover {
	color: #92c800;
	border-color: #92c800;
	transition: .5s;
}								/*Top-menu section end here*/


.top-body {						/*Top-body section start here*/
	height: 600px;
	width: 100%;
	background-image: url(../images/background-1.jpg);
	background-size: cover;
	background-position: center center;
}
.overlay {
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.45);
	height: 100%;
	width: 100%;
}
.top-bodytext h1{
	color: white;
	font-size: 54px;
	text-align: center;
	padding-top: 220px;
	font-weight: normal;
}
.top-bodytext h1 label {
	color: #92c800;
}
.top-bodytext p {
	color: white;
	font-size: 20px;
	text-align: center;
	padding-top: 15px;
}								/*Top-body section end here*/


.recent-properties {				/*recent-properties section start here*/
	width: 100%;
	height: 970px;
	background-color: #d4d1d12e;
}
.recent-top img {
	height: 40px;
	width: 40px;
	padding-top: 100px;
}
.recent-top h1 {
	font-size: 30px;
	padding-top: 10px;
	color: #222;
	text-transform: uppercase;
}
.recent-top p {
	font-size: 12px;
	font-weight: bold;
	color: #909090;
	text-transform: uppercase;
	padding-top: 5px;
	padding-bottom: 75px;
}
.recent-body {
	height: 620px;
	width: 100%;
}
.recent-body-1 {
	height: 570px;
	width: 380px;
	float: left;
	background-color: white;
}
.recent-body-2 {
	height: 570px;
	width: 380px;
	float: left;
	margin: 0 30px;
	background-color: white;	
}
.recent-body-3 {
	height: 570px;
	width: 380px;
	float: right;
	background-color: white;	
}
.recent-body-image-1 {
	background-image: url(../images/properties-1.jpg);
	background-size: cover;
	background-position: center center;
	height: 350px;
	width: 350px;
	margin: 15px;
}
.recent-body-image-2 {
	background-image: url(../images/properties-2.jpg);
	background-size: cover;
	background-position: center center;
	height: 350px;
	width: 350px;
	margin: 15px;	
}
.recent-body-image-3 {
	background-image: url(../images/properties-3.jpg);
	background-size: cover;
	background-position: center center;
	height: 350px;
	width: 350px;
	margin: 15px;	
}
.recent-text:hover .recent-image-overlay {
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.65);
	height: 100%;
	width: 100%;
	transition: .5s;
}

.recent-image-top {
	height: 20px;
	width: 90px;
	background-color: #92c800;
	float: left;
	margin-top: 20px;
	border-radius: 0 30px 30px 0;
	position: absolute;
}
.recent-image-top h1 {
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	color: white;
	padding-top: 4px;
	padding-bottom: 250px;
	position: absolute;
}
.recent-text a h2{
	font-size: 12px;
	color: #92c800;
	text-transform: uppercase;
	margin-left: 15px;
	padding-bottom: 7px;
	font-weight: bold;
}
.recent-text a p {
	font-size: 22px;
	color: #222;
	font-weight: bold;
	margin-left: 15px
}
.recent-text a p:hover {
	color: #92c800;
	transition: .5s;
}
.recent-text a h3{
	font-size: 15px;
	color: #727272;
	margin-left: 15px;
	padding-top: 5px;
	font-weight: normal;
	padding-bottom: 20px;
}
.recent-text a h3:hover {
	color: #92c800;
	transition: .5s;
}
.recent-text i {
	font-size: 15px;
	color: #92c800;
	padding-left: 15px;
	padding-bottom: 12px;
}
.h1 {
	color: #727272;
	font-size: 15px;
	font-weight: bold;
	padding-right: 70px;
	padding-left: 14px;
	padding-bottom: 12px;
}
.h2 {
	color: #727272;
	font-size: 15px;
	font-weight: bold;
	padding-left: 8px;
	padding-bottom: 12px;
}
.h3 {
	color: #727272;
	font-size: 15px;
	font-weight: bold;
	padding-left: 11px;
	padding-right: 43px; 
}
.h4 {
	color: #727272;
	font-size: 15px;
	font-weight: bold;
	padding-left: 21px;
}

.recent-buttom {
	width: 100%;
	height: 45px;
	margin-top: 18px;
}
.recent-buttom1 {
	height: 100%;
	width: 40%;
	background-color: #92c800;
	float: left;
}
.recent-buttom2 {
	height: 100%;
	width: 60%;
	background-color: #222;
	float: left;
}
.recent-buttom h1 {
	text-transform: uppercase;
	font-size: 12px;
	padding-top: 16px;
	padding-left: 25px;
	color: white;
}
.recent-buttom h2 {
	font-size: 18px;
	color: white;
	padding-top: 10px;
	padding-left: 85px;
}
.recent-buttom h2 sup {
	color: #727272;
	text-transform: uppercase;
	font-size: 12px;
}									/*recent-properties section end here*/


									/*Buy or sell section start from here*/
.buy-sell {
	width: 100%;
	height: 400px;
	background-image: url(../images/background-2.jpg);
	background-size: cover;
	background-position: center center;
}
.overlay2 {
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.69);
	height: 100%;
	width: 100%;
}
.buy-sell-text h1 {
	text-align: center;
	font-size: 49px;
	padding-top: 80px; 
	line-height: 60px;
	color: white;
	padding-bottom: 60px;
}
.buy-sell-text h1 label {
	color: #92c800;
}
.button-1 {
	padding: 14px 20px;
    margin-left: 425px;
    background-color: #92c800;
    border-radius: 30px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    float: left;
}
.button-1:hover {
	background-color: #222;
	transition: .5s;
}
.button-2 {
	padding: 13px 20px;
	border-radius: 30px;
	color: #92c800;
	margin-left: 25px;
	text-transform: uppercase;
	border: 2px solid #92c800;
	font-size: 14px;
	float: left;
}
.button-2:hover {
	background-color: #92c800;
	transition: .5s;
	color: white;
}								/*buy or sell section end here*/



.populer-place {				/*populer places section start from here*/
	width: 100%;
	height: 1050px;
}
.populer-place-head {
	width: 100%;
	height: 250px;
}
.populer-place-head i {
	font-size: 40px;
    color: #92c800;
    padding-left: 581px;
    padding-top: 90px;
}
.populer-place-head h1 {
	text-align: center;
	color: #222;
	text-transform: uppercase;
	font-size: 32px;
	padding-top: 10px;
}
.populer-place-head p {
	text-align: center;
	text-transform: uppercase;
	color: #727272;
	font-size: 13px;
	font-weight: bold;
}

.populer-place-body {
	width: 100%;
	height: 700px;
}
.populer-body-1 {
	height: 100%;
	width: 49.8%;
	float: left;
}
.populer-body-1-1 {
	height: 64.8%;
	width: 100%;
	margin-bottom: 5px;
	background-image: url(../images/recent/recent-1.jpg);
	background-size: cover;
	background-position: center center;
}
.populer-body-1-2 {
	height: 34.8%;
	width: 100%;
}
.populer-body-1-2-1 {
	height: 100%;
	width: 49.6%;
	float: left;
	background-image: url(../images/recent/recent-2.jpg);
	background-size: cover;
	background-position: center center;
}
.populer-body-1-2-2 {
	height: 100%;
	width: 49.6%;
	float: right;
	background-image: url(../images/recent/recent-3.jpg);
	background-size: cover;
	background-position: center center;
}

.populer-body-2 {
	height: 100%;
	width: 49.8%;
	background-color: white;
	float: right;
}
.populer-body-2-1 {
	height: 34.8%;
	width: 100%;
}
.populer-body-2-1-1 {
	height: 100%;
	width: 49.6%;
	float: left;
	background-image: url(../images/recent/recent-4.jpg);
	background-size: cover;
	background-position: center center;
}
.populer-body-2-1-2 {
	height: 100%;
	width: 49.6%;
	float: right;
	background-image: url(../images/recent/recent-5.jpg);
	background-size: cover;
	background-position: center center;
}
.populer-body-2-2 {
	height: 64.8%;
	width: 100%;
	margin-top: 5px;
	background-image: url(../images/recent/recent-6.jpg);
	background-size: cover;
	background-position: center center;
}
.populer-text h1 a {
	font-size: 25px;
	color: white;
	font-weight: bold;
	padding-left: 40px;
	padding-top: 25px;
	position: absolute;
}
.populer-text h2 a {
	font-size: 15px;
	color: white;
	font-weight: bold;
	padding-left: 40px;
	padding-top: 55px;
	position: absolute;
}

.populer-overlay {
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.45);
	height: 100%;
	width: 100%;
}
.populer-body-images:hover .populer-overlay {
	margin: 0;
	padding: 0;
	background-color: rgba(166, 214, 12, 0.89);
	height: 100%;
	width: 100%;
	transition: .5s;
}								/*populer place section end here*/




.our-services {					/*our services section start from here*/
	height: 800px;
	width: 100%;
	background-color: #c1c1c130;
}
.our-services-image {
	height: 800px;
	width: 40%;
	float: left;
}
.service-image {
	height: 760px;
	width: 94%;
	margin: 40px auto 0 auto;
}
.service-image img {
	height: 100%;
	width: 100%;
}

.our-services-text {
	height: 800px;
	width: 60%;
	float: right;
}
.our-services-text i {
	font-size: 40px;
	color: #92c800;
	float: left;
	padding-top: 90px;
	padding-left: 30px;
}
.our-services-text h1 {
	font-size: 35px;
	text-transform: uppercase;
	color: #222;
	padding-left: 30px;
	padding-top: 120px;
}
.our-services-text h2 {
	font-size: 13px;
	text-transform: uppercase;
	color: #727272;
	padding-left: 30px;
}
.our-services-text p {
	font-size: 16px;
	color: #727272;
	padding-left: 30px;
	padding-top: 50px;
	line-height: 23px;
	padding-bottom: 50px;
}

.service-text-1 {
	width: 98%;
	height: 90px;
	margin-left: 30px;
	margin-bottom: 30px;
}
.service-text-2 {
	width: 98%;
	height: 90px;
	margin-left: 30px;
	margin-bottom: 30px;
}
.service-text-3 {
	width: 98%;
	height: 90px;
	margin-left: 30px;
	margin-bottom: 30px;
}
.service-text i {
	font-size: 45px;
    padding: 16px;
    border: 2px solid #92c800;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}
.service-text h4 {
	font-size: 20px;
	float: left;
	padding-top: 0px;
	color: #222;
	display: inline-block;
}
.service-text p {
	font-size: 15px;
	float: left;
	line-height: normal;
	margin-left: 80px;
	padding-top: 35px;
	padding-bottom: 0px;
	color: #727272;
}
.service-text:hover i {
	background-color: #92c800;
	color: white;
	transition: .5s;
}								/*our services section end here*/



.our-agent {					/*our-agent section start from here*/
	width: 100%;
	height: 800px;
}
.our-agent-head {
	width: 100%;
	height: 240px;
}
.our-agent-body {
	width: 100%;
	height: 560px;
}
.our-agent-head i {
	font-size: 40px;
	padding-top: 85px;
	color: #92c800;
}
.our-agent-head h1 {
	font-size: 30px;
	padding-top: 8px;
	color: #222;
	text-transform: uppercase;
}
.our-agent-head p {
	font-size: 12px;
	font-weight: bold;
	padding-top: 5px;
	color: #727272;
	text-transform: uppercase;
}
.agent-body-image-1 {
	height: 475px;
	width: 370px;
	float: left;
	background-image: url(../images/agent/agent-1.jpg);
	background-size: cover;
	background-position: center center;
}
.agent-body-image-2 {
	height: 475px;
	width: 370px;
	float: left;
	margin: 0 45px;
	background-image: url(../images/agent/agent-2.jpg);
	background-size: cover;
	background-position: center center;
}
.agent-body-image-3 {
	height: 475px;
	width: 370px;
	float: right;
	background-image: url(../images/agent/agent-3.jpg);
	background-size: cover;
	background-position: center center;
}
.agent-body-text {
	background-color: #222;
	width: 100%;
	height: 70px;
	margin-top: 405px;
	text-align: center;	
}
.agent-body-text h1 {
	color: white;
	font-size: 20px;
	padding-top: 15px;
}
.agent-body-text p {
	color: white;
	font-size: 14px;
	padding-top: 3px;
	font-weight: bold;
}
.agent-body-image:hover .agent-body-text {
	padding-bottom: 30px;
	transition: .5s;
	background-color: #92c800;
	margin-top: 375px;
}									/*our agent section end here*/



.footer-logo {						/*footer-logo section start from here*/
	height: 170px;
	width: 100%;
	background-color: #92c800;
}
.logo-image-1 {
	height: 170px;
	width: 25%;
	float: left;
}
.logo-image-2 {
	height: 170px;
	width: 25%;
	float: left;
}
.logo-image-3 {
	height: 170px;
	width: 25%;
	float: left;
}
.logo-image-4 {
	height: 170px;
	width: 25%;
	float: left;
}
.logo-image img {
	height: 70px;
	width: 170px;
	margin-top: 50px;
	margin-left: 70px;
}									/*footer-logo section end here*/



.footer {							/*footer section start from here*/
	width: 100%;
	height: 655px;
	background-image: url(../images/background-footer-1.jpg);
	background-size: cover;
	background-position: center center;
}
.footer-overlay {
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.83);
	height: 100%;
	width: 100%;
}
.footer-1 {
	height: 150px;
	width: 100%;
	border-bottom: 1px solid #80808042;
}
.footer-1 a img {
	padding-top: 60px;
}
.footer-1 a i {
	color: white;
	font-size: 13px;
	padding: 11px;
	float: right;
	border-radius: 50%;
	background-color: #80808054;
	margin-left: 10px;
	margin-top: 70px;
}
.footer-1 a i:hover {
	background-color: #92c800;
	transition: .5s;
}

.footer-2 {
	height: 250px;
	width: 100%;
	border-bottom: 1px solid #80808042;
}
.footer-section1 {
	height: 100%;
	width: 35%;
	float: left;
	color: white;
}
.footer-section1 h1 {
	font-size: 16px;
	text-transform: uppercase;
	padding-top: 40px;
	padding-bottom: 30px;
}
.footer-section1 label {
	font-size: 15px;
	color: #727272;
	padding-bottom: 12px;
	font-weight: bold;
}
.fa-map-marker {
	font-size: 15px;
	color: #92c800;
	padding-right: 20px;
	padding-bottom: 12px;
}
.fa-phone {
	font-size: 15px;
	color: #92c800;
	padding-right: 15px;
	padding-bottom: 12px;
}
.fa-laptop {
	font-size: 15px;
	color: #92c800;
	padding-right: 10px;
	padding-bottom: 12px;
}

.footer-section2 {
	height: 100%;
	width: 25%;
	float: left;
}
.footer-section2-head {
	width: 100%;
	height: 35%;
}
.footer-text h1 {
	font-size: 16px;
	padding-top: 40px;
	color: white;
	text-transform: uppercase;
}
.footer-section2-body {
	width: 100%;
	height: 65%;
}
.footer-body-1 {
	height: 100%;
	width: 50%;
	float: left;
}
.footer-body-2 {
	height: 100%;
	width: 50%;
	float: left;
}
.footer-text i {
	font-size: 15px;
	color: #92c800;
	padding-bottom: 10px;
	padding-right: 5px;
}
.footer-text label a {
	font-size: 13px;
	color: #727272;
	padding-bottom: 10px;
	font-weight: bold;
}
.footer-text label a:hover {
	color: #92c800;
	transition: .5s;
}

.footer-section3 {
	height: 100%;
	width: 20%;
	float: left;
}
.footer-section3 h1 {
	padding-bottom: 30px;
}

.footer-section4 {
	height: 100%;
	width: 15%;
	float: right;
}
.footer-section4 img {
	height: 107px;
	width: 192px;
	padding-top: 30px;
}

.footer-3 {
	height: 140px;
	width: 100%;
	border-bottom: 1px solid #80808042;
}
.footer-3-1 {
	height: 100%;
	width: 60%;
	float: left;
}
.footer-3-1 i {
	font-size: 35px;
	color: #92c800;
	padding-top: 55px;
}
.footer-3-1 label {
	font-size: 25px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	padding-top: 55px;
}
.footer-3-2 {
	height: 100%;
	width: 40%;
	float: left;
}
.footer-3-2 input {
	padding: 9px 20px;
	width: 220px;
	background-color: transparent;
	border-radius: 30px;
	border: 2px solid gray;
	margin-top: 55px;
	color: gray;
	margin-left: 35px;
}
.footer-3-2 label a {
	color: #92c800;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 30px;
	border: 2px solid #92c800;
	float: right;
	margin-top: 56px;
}
.footer-3-2 label a:hover {
	background-color: #92c800;
	transition: .5s;
	color: white;
}

.footer-4 {
	height: 110px;
	width: 100%;	
}
.footer-4-1 {
	height: 100%;
	width: 60%;
	float: left;
}
.footer-4-1 p {
	font-size: 12px;
	color: #727272;
	padding-top: 45px;
	font-weight: bold;
}
.footer-4-1 a {
	color: #92c800;
	font-weight: bold;
}
.footer-4-2 {
	height: 100%;
	width: 40%;
	float: left;
}
.footer-4-2 ul {
	float: right;
}
.footer-4-2 ul li {
	display: inline-block;
	padding-top: 45px;
	padding-left: 30px;
}
.footer-4-2 ul li a {
	color: #727272;
	font-size: 13px;
	font-weight: bold;
}
.footer-4-2 ul li a:hover {
	color: #92c800;
	transition: .5s;
}								/*footer section end here*/